@attribute [Authorize(Roles = "Admin, Super Admin")]
@using Microsoft.AspNetCore.Authorization

<div class="row" style="margin-left: 0; margin-right: 0;">
    <div class="col-md-12 mt-0" style="padding: 0;">
        <div class="row">
            <div class="col-md-9  mx-auto">
                <div class="card total-visits-browse-area">
                    <div class="card-header" style="margin: 0; padding: 10px;">
                        <h5 style="margin: 0;">@Title</h5>
                    </div>

                    <EditForm Model="@NewUser" OnValidSubmit="CreateUser">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        @if (!string.IsNullOrEmpty(SuccessMessage))
                        {
                            <div class="alert alert-success" role="alert">
                                @SuccessMessage
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(ErrorMessage))
                        {
                            <div class="alert alert-danger" role="alert">
                                @ErrorMessage
                            </div>
                        }
                        @if(IsSuperAdmin)
                        {
                            <div class="form-group row mb-8 mt-4" style="margin-left: 15px;">
                                <label class="control-label col-md-2 mb-1">Structure</label>
                                <div class="col-md-10" style="border-radius: 0;">
                                    <select @bind="NewUser.TenantId" class="form-control valid">
                                        <option value="">Sélectionner une structure...</option>
                                        @foreach (var tenant in Tenants)
                                        {
                                            <option value="@tenant.Id">@tenant.Name</option>
                                        }
                                    </select>
                                    <ValidationMessage For="@(() => NewUser.TenantId)" />
                                </div>
                            </div>
                        }

                        <div class="form-group row mb-8 mt-4" style="margin-left: 15px;">
                            <label class="control-label col-md-2 mb-1">Nom d'utilisateur</label>
                            <div class="col-md-10" style="border-radius: 0;">
                                <InputText class="form-control " style="height: 40px; border-radius: 0;"
                                           @bind-Value="NewUser.UserName" />
                                <ValidationMessage For="@(() => NewUser.UserName)" />
                            </div>
                        </div>

                        <div class="form-group row mb-3 mt-4" style="margin-left: 15px;">
                            <label class="control-label col-md-2 mb-1">Prénom</label>
                            <div class="col-md-10">
                                <InputText class="form-control" style="height: 40px; border-radius: 0;"
                                           @bind-Value="NewUser.FirstName" />
                                <ValidationMessage For="@(() => NewUser.FirstName)" />
                            </div>
                        </div>

                        <div class="form-group row mb-3 mt-4" style="margin-left: 15px;">
                            <label class="control-label col-md-2 mb-1">Nom de famille</label>
                            <div class="col-md-10">
                                <InputText class="form-control" style="height: 40px; border-radius: 0;"
                                           @bind-Value="NewUser.LastName" />
                                <ValidationMessage For="@(() => NewUser.LastName)" />
                            </div>
                        </div>

                        <div class="form-group row mb-3 mt-4" style="margin-left: 15px;">
                            <label class="control-label col-md-2 mb-1">Email</label>
                            <div class="col-md-10">
                                <InputText class="form-control" style="height: 40px; border-radius: 0;" type="email"
                                           @bind-Value="NewUser.Email" />
                                <ValidationMessage For="@(() => NewUser.Email)" />
                            </div>
                        </div>

                        <div class="form-group row mb-3 mt-4" style="margin-left: 15px;">
                            <label class="control-label col-md-2 mb-1">Numéro de téléphone</label>
                            <div class="col-md-10">
                                <InputText class="form-control " type="tel" style="height: 40px; border-radius: 0;"
                                           @bind-Value="NewUser.PhoneNumber" />
                                <ValidationMessage For="@(() => NewUser.PhoneNumber)" />
                            </div>
                        </div>

                        <div class="d-flex justify-content-end" style="margin-top: 20px; padding-right: 15px;">
                            <div class="d-flex gap-2">
                                <a href="/users" class="btn btn-primary"
                                   style="height: 40px; background-color: rgb(196, 53, 40); border-radius: 0;">
                                    Retour
                                </a>

                                <button type="submit" class="btn btn-primary"
                                        style="height: 40px; background-color: #003f88; border-color: #003f88; border-radius: 0;">
                                    Sauvegarder
                                </button>
                            </div>
                        </div>

                    </EditForm>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card total-visits-browse-area">
                    <div class="card-header" style="padding: 10px;">
                        <h5 style="margin: 0;">Rôles utilisateur</h5>
                    </div>

                    <div class="card-body">
                        @if (Roles != null && Roles.Any())
                        {
                            @foreach (var role in Roles)
                            {
                                <div class="form-check mb-3" style="border-bottom: 1px solid #ccc; padding-bottom: 10px;">
                                    <input type="checkbox" class="form-check-input" @bind="@role.IsSelected" />
                                    <label class="form-check-label">@role.Name</label>
                                </div>
                            }
                        }
                        else
                        {
                            <p>Chargement des rôles...</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .custom-input {
        border: 0.5px solid rgba(0, 0, 0, 0.3);
        border-radius: 1px;
    }

    .total-visits-browse-area {
        background: white;
        margin-top: 10px;
        padding: 20px;
        border-top: 7px solid rgb(196, 53, 40);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.10);
    }
</style>
