@using Soditech.IntelPrev.Mediatheques.Shared.Enums
@attribute [Authorize(Roles = "Admin, Super Admin")]

@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Authorization

<div class="row" style="margin-left: 0; margin-right: 0;">
    <div class="col-md-12 mt-0" style="padding: 0;">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card total-visits-browse-area">
                    <div class="card-header" style="margin: 0; padding: 10px;">
                        <h5 style="margin: 0;"> @Title </h5>
                    </div>

                    <EditForm Model="@DocumentCommand" OnValidSubmit="CreateDocument">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="form-group row mb-8 mt-4" style="margin-left: 15px;">
                            <label class="control-label col-md-2 mb-1">Nom</label>
                            <div class="col-md-10" style="border-radius: 0;">
                                <InputText class="form-control" style="height: 40px; border-radius: 0;" @bind-Value="DocumentCommand.Name" />
                                <ValidationMessage For="@(() => DocumentCommand.Name)" />
                            </div>
                        </div>

                        <div class="form-group row mb-8 mt-4" style="margin-left: 15px;">
                            <label class="control-label col-md-2 mb-1">Description</label>
                            <div class="col-md-10" style="border-radius: 0;">
                                <InputText class="form-control" style="height: 40px; border-radius: 0;" @bind-Value="DocumentCommand.Description" />
                                <ValidationMessage For="@(() => DocumentCommand.Description)" />
                            </div>
                        </div>

                        <div class="form-group row mb-8 mt-4" style="margin-left: 15px;">
                            <label class="control-label col-md-2 mb-1">Type</label>
                            <div class="col-md-10" style="border-radius: 0;">
                                <InputSelect class="form-control" style="height: 40px; border-radius: 0;" @bind-Value="DocumentCommand.Type">
                                    <option disabled="disabled" selected="selected">Selectionner le type de document</option>
                                    @foreach (var type in Enum.GetValues<DocumentType>())
                                    {
                                        <option value="@type">@type</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => DocumentCommand.Type)" />
                            </div>
                        </div>

                        <div class="form-group row mb-8 mt-4" style="margin-left: 15px;">
                            <label class="control-label col-md-2 mb-1">Type de fichier</label>
                            <div class="col-md-10" style="border-radius: 0;">
                                <InputSelect class="form-control" style="height: 40px; border-radius: 0;" @bind-Value="DocumentCommand.FileType">
                                    @foreach (var file in Enum.GetValues<FileTypeEnum>())
                                    {
                                        <option value="@file">@file</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="@(() => DocumentCommand.FileType)" />
                            </div>
                        </div>
                        <div class="form-group row mb-8 mt-4" style="margin-left: 15px;">
                            <label class="control-label col-md-2 mb-1">Téléchargeable</label>
                            <div class="col-md-10" style="border-radius: 0;">
                                <InputCheckbox class="form-check-input" @bind-Value="DocumentCommand.IsDownloadable" />
                                <ValidationMessage For="@(() => DocumentCommand.IsDownloadable)" />
                            </div>
                        </div>

                        <div class="form-group row mb-8 mt-4" style="margin-left: 15px;">
                            <label class="control-label col-md-2 mb-1">Fichier</label>
                            <div class="col-md-10" style="border-radius: 0;">
                                <InputFile OnChange="SelectedFileChange" style="border: 1px solid #007BFF; padding: 5px; border-radius: 3px;"/>
                                <ValidationMessage For="@(() => DocumentCommand.BlobFile)" style="color: red;" />
                                @if (!string.IsNullOrEmpty(DocumentCommand.Path))
                                {
                                    <div>Fichier actuel : <a href="@DocumentCommand.Path" target="_blank">@DocumentCommand.Path</a></div>
                                }
                                @if (!string.IsNullOrEmpty(SuccessMessage))
                                {
                                    <div class="alert alert-success">@SuccessMessage</div>
                                }
                                @if (!string.IsNullOrEmpty(ErrorMessage))
                                {
                                    <div class="alert alert-danger">@ErrorMessage</div>
                                }
                            </div>
                        </div>

                        <div class="d-flex justify-content-end" style="margin-top: 20px; padding-right: 15px;">
                            <div class="d-flex gap-2">
                                <a href="/documents" class="btn btn-primary" style="background-color: rgb(196, 53, 40); ">
                                    Retour
                                </a>

                                <button type="submit" class="btn btn-primary" style=" background-color: #003f88; border-color: #003f88;">
                                    Sauvegarder
                                </button>
                            </div>
                        </div>

                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .custom-input {
        border: 0.5px solid rgba(0, 0, 0, 0.3);
        border-radius: 1px;
    }

    .total-visits-browse-area {
        background: white;
        margin-top: 10px;
        padding: 20px;
        border-top: 7px solid rgb(196, 53, 40);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.10);
    }
</style>